*{
	padding: 0;
	margin: 0;
	font-family: "exo", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #cecece;
}

::-webkit-scrollbar-thumb:hover {
  background: #747474; 
}

nav{
	width: 100%;
	height: 80px;
	background-color: #fff;
}

nav ul{
	max-width: 1240px;
	margin: 0 auto;
}

nav ul{
	list-style: none;
	position: relative;
	height: 100%;
}

nav li{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	color: #727272; 
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

nav li:hover{
	color: #000;
}

button{
	border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #000;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(230,230,230,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(230,230,230,1);
	box-shadow: 0px 0px 8px 1px rgba(230,230,230,1);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

button:hover{
	color: #fff;
    background-color: #000;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(176,176,176,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(176,176,176,1);
	box-shadow: 0px 0px 8px 1px rgba(176,176,176,1);
}

form{
	margin: 25px 0px;
}

footer{
	width: 100%;
	height: 50px;
	text-align: center;
	display: table;
}

footer div{
	display: table-cell;
	vertical-align: middle;
}

.contentContainer,
.headerImgContainer,
.planningContainer,
.planningListContainer,
.planningTasksInfoBar{
	width: 100%;
	height: auto;
	overflow: auto;
}

.contentContainer{
	max-width: 1240px;
	margin: 0 auto;
}

.headerImgContainer{
	height: 700px;
	overflow: hidden;
	position: relative;
}

.headerImgContainer img{
	width: 100%;
}

.planningContainer{
	background-color: #eeeeee;
	padding: 100px 0px;
}

.planningContainer a{
	text-decoration: none;
	color: #000;
}

.planningListContainer{
	width: 80%;
	position: relative;
	margin: 0 auto;
}

.planningItemContainer{
	width: 98%;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(230,230,230,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(230,230,230,1);
	box-shadow: 0px 0px 8px 1px rgba(230,230,230,1);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.planningItemContainer:hover{
	-webkit-box-shadow: 0px 0px 8px 1px rgba(176,176,176,1);
	-moz-box-shadow: 0px 0px 8px 1px rgba(176,176,176,1);
	box-shadow: 0px 0px 8px 1px rgba(176,176,176,1);
}

.planningItem,
.planningTasks{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 20px;
	position: relative;
}

.planningItem{
	width: 98%;
	margin: 0px;
}

.planningTasks{
	padding: 5px 20px 20px 20px;
}

.planningLinks{
	position: absolute;
	right: 20px;	
	top: 50%;
	transform: translate(0, -50%);
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.planningLinks:hover{
	color: #ff0000;
}

.planningListContainer .planningLinks:nth-child(2n):hover{
	color: #0089ff;
}

.planningListContainer .planningLinks:nth-child(2n){
	right: 50px;
}

.planningTaskContainer{
	width: 100%;
	height: auto;
	margin: 15px 0px;
	position: relative;
}

.planningTasksInfoBar{
	margin: 0px 0px 30px 0px;
}

.task,
.time,
.status,
.taskInfoBar,
.timeInfoBar,
.statusInfoBar{
	width: 33%;
	display: inline-block;
}

.time,
.status{
	position: absolute;
	top: 0px;
}

.time{
	left: 33.5%;
}

.status{
	left: 67%;
}

.planningButtonContainer{
	width: 79%;
	height: auto;
	padding: 5px;
	margin: 0 auto;
}

.planningButtonLink{
	display: inline-block;
}

.createContainer{
	background-color: #eeeeee;
	padding: 100px 0px;
}

.createContainer h1{
	margin: 0px 0px 10px 0px;
}

.inputBox{
	width: 100%;
	height: auto;
	margin: 30px 0px;
}

.inputBox p{
	margin: 0px 0px 10px 0px;
}

.listButtonContainer{
	margin: 25px 0px 0px 0px;
}

.added{
	color: #08aa23;
}